$break-point-normal = 'screen and (min-width: 1024px)'
$break-point-table-normal = 'screen and (min-width: 768px)'
$break-point-tablet-small = 'screen and (min-width: 576px)'
$break-point-large = 'screen and (min-width: 1280px)'
$break-point-xlarge = 'screen and (min-width: 1440px)'

$black = #000
$white = #fff
$gray = #f5f5f5

$primary-main = #01698F
$primary-alt = #2EADDB
$primary-medium = #DB872D
$primary-valley = #FFAA4F
$primary-peak = #8F5110
$secondary-main = #1E8F87
$secondary-alt = #69FFF5
$secondary-medium = #44DBD0
$secondary-valley = #8F3A10
$secondary-peak = #DB7744

html
  box-sizing: border-box;
  *, *:before, *:after
    box-sizing: inherit;
  a
    text-decoration: none;
    color: inherit;
  body
    font-size: 16px;
    color: $black;
    background-color: $white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

html,
body
  cursor: normal
code
  cursor: text


body-font()
  font-family: 'Roboto Mono', monospace;

header-font()
  font-family: 'Roboto Bold', monospace;

italic-font()
  font-style: italic;

bold-font()
  font-weight: bold;

uppercase()
  text-transform: uppercase;

normal-voice()
  font-size: 1.2rem
  line-height: 1.5rem
  letter-spacing: 0.05rem
  strong
    font-weight: 700
    em
      font-style: italic
      font-weight: 400

small-voice()
  font-size: 1rem
  line-height: 1.1rem
  letter-spacing: 0.05rem
  strong
    font-weight: 700
    em
      font-style: italic
      font-weight: 400


normal-transition()
  transition: all 0.4s ease-in-out
  &:hover
    transition: 0s
  &:focus
    transition: all 0.3s ease-in-out


