// $variables
// $Breakpoints
$break-point-normal = 'screen and (min-width: 1024px)'
$break-point-table-normal = 'screen and (min-width: 768px)'
$break-point-tablet-small = 'screen and (min-width: 576px)'
$break-point-large = 'screen and (min-width: 1280px)'
$break-point-xlarge = 'screen and (min-width: 1440px)'
// ================

// $colors
$blk = #000
$white = #fff
$gray = #f5f5f5

$primary-main = #01698F
$primary-alt = #2EADDB
$primary-medium = #DB872D
$primary-valley = #FFAA4F
$primary-peak = #8F5110
$secondary-main = #1E8F87
$secondary-alt = #69FFF5
$secondary-medium = #44DBD0
$secondary-valley = #8F3A10
$secondary-peak = #DB7744
// ================

// $space
$pad = 10px
$thin = 1px
$thick = 4px
$corner = 6px
// ================

// $font
body-font()
  font-family: 'Roboto Mono', monospace;

heading-font()
  font-family: 'Rubik', sans-serif;

// $font-style
uppercase()
  text-transform: uppercase

italic()
  font-style: italic

// $voice
whisper-voice()
  font-size: 8px

quite-voice()
  font-size: 12px

small-voice()
  font-size: 14px
  line-height: 1.3

standard-voice()
  font-size: 16px
  line-height: 1.3
  strong
    font-weight: 700
  em
    font-style: italic

medium-voice()
  headline-font()
  font-size: 16px
  font-weight: 700
  letter-spacing: .05em
  uppercase()

strong-voice()
  headline-font()
  font-size: 20px
  font-weight: 700
  letter-spacing: .05em
  uppercase()

loud-voice()
  font-size: 30px

// $mixins
responsive-image-wrapper()
  img
    display: block
    width: 100%
    height: auto

normal-transition()
  transition: .6s
  &:hover
    transition: 0s

// $box-model
html
  box-sizing: border-box

  *, *:before, *:after
    box-sizing: inherit

a // $setup
  text-decoration: none
  color: inherit

figure
  margin: 0
  responsive-image-wrapper()

html,
body
  cursor: default

code
  cursor: text

a,
label,
button,
input[type='radio'],
input[type='submit'],
input[type='checkbox'],
input[type='button']
  cursor: pointer

button[disabled],
input[disabled]
  cursor: default


// $style
body
  background: rgba(0, 0, 0, .04)
  padding: $pad
  font-family: 'helvetica'
  body-font()
  standard-voice()
  background: $gray-dark

a
  display: block





.archives
  max-width: 1300px
  margin: 0 auto



.archive-list






.link
  align-self: flex-start


.archive
  &.active
    border: 1px solid green
  .status
    display: inline-block
    padding: $pad $pad* 2
    min-width: 160px
    text-align: center
    align-self: flex-start
    @media $break-point-normal
      align-self: center
    strong-voice()


.archive
  .status
    background: $gray-light
    color: $gray
    min-width: 180px
  &.work-in-progress
    .status
      background: $alternate
      color: $secondary-alt


footer
  margin: $pad* 6 0
